html, body {
  background-color: mediumpurple;
  height: 100%;
}

h3, .list-group-item {
  background-color: mediumpurple;
  color: white;
}

.searchDiv {
  z-index: 9000;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchResults {
  /* higher the z-index the closer to the top of the stack */
  z-index: 9000;
  width: 300px;
  height: 300px;
  background-color: whitesmoke;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: large;
}

.hideResultsBtn {
      border-color: black;
      right: 5%;
      top: 5%;
      position: fixed;
}


